[package]
name = "litra"
version = "0.2.1"
edition = "2021"
author = "Tim Rogers <timrogers@github.com>"
description = "Control your Logitech Litra light from the command line."
repository = "https://github.com/timrogers/litra-rs.git"
license = "MIT"
readme-file = "README.md"
categories = ["hardware-support", "command-line-utilities"]
keywords = ["logitech", "litra", "glow", "beam", "light"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.4.18", features = ["derive"] }
exitcode = "1.1.2"
hidapi = "2.5.1"
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"