[package]
name = "litra"
version = "1.1.2"
edition = "2021"
authors = ["Tim Rogers <timrogers@github.com>"]
description = "Control your Logitech Litra light from the command line"
repository = "https://github.com/timrogers/litra-rs"
license = "MIT"
readme = "README.md"
categories = ["hardware-support", "command-line-utilities"]
keywords = ["logitech", "litra", "glow", "beam", "light"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hidapi = "2.6.1"
clap = { version = "4.5.3", features = ["derive"], optional = true }
serde = { version = "1.0.196", features = ["derive"], optional = true }
serde_json = { version = "1.0.113", optional = true }

[features]
default = ["cli"]
cli = ["dep:clap", "dep:serde", "dep:serde_json", "dep:inotify"]

[target.'cfg(target_os = "linux")'.dependencies]
inotify = { version = "0.10.2", optional = true }

[[bin]]
name = "litra"
required-features = ["cli"]
